.aboutme-main {
    display: flex;
    flex-direction: column;             
    align-items: center;
}

.aboutme-header {
    font-size: 2.5rem;
    color: #7b54d5;
    background-color: #e6fafc;
    border-radius: 20px; 
    padding: 20px 30px;
}

.aboutme-section {
    width: 100%;
    display: flex;
    flex-direction: column;             /* displays children under eachother, not next to eachother */
    align-items: center;                /* flex-direction: column flips meaning of align-items & justify-content*/
}

.aboutme-subheader {
    font-size: 2rem;
    border-radius: 20px; 
    width: 100%;
    text-align: center;
    color: #ca63fa;
    background-color:#e6fafc;
    margin-top: 20px;
}

.aboutme-text {
    border-radius: 20px; 
    padding: 30px 50px;
    width: 70%;
    font-size: 1.5rem;
    background-color: #0f7173;
    text-align: justify;                /* block paragraph */
    margin-top: 20px;
}   

.aboutme-hobby-slideshow {
    width: 100%;
    display: flex;
    justify-content: center;            /* centers slideshow-container, which is at 90% width */
}





.slideshow-container {
    display: flex;
    align-items: center;                /* centers children vertically in the middle */
    justify-content: space-around;      /* spaces children horizontally so they are centered with margins */
    height: 70vh;
    margin: 20px 0px;
    width: 90%;

}

.slideshow-button button{
    border: none;
    border-radius: 30px;                /* rounds edges of button */
    background-color: #e6fafc;
    color: #272932;
    padding: 27px;
    padding-top: 10px;
    padding-bottom: 17px;
    font-size: 3rem;
    cursor: pointer;
}




.flip-card {
    width: 120vh;
    height: 70vh;
    transform-style: preserve-3d;       /* for flip animation */
    transition: transform 0.5s;
}

.flip-card.flipped {
    transform: rotateY(180deg);
}

.flip-card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.flip-card-front {
    border-radius: 25px;  
    background-color: #7b54d5;
    display: flex;
    flex-direction: column;             
    align-items:center;
    justify-content: space-between;     /* bacause of flex-direction: column -> justify-content now affects vertical alignment*/
}

.flip-card-back {
    border-radius: 25px;  
    background-color: #7b54d5;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;             
    align-items:center;
    justify-content: space-between;
}

.card-content {
    border-radius: 25px 25px 0px 0px;
    width: 116vh;
    height: 60vh;
    margin: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-text {
    text-align: center;
    font-size: 1.75rem;

}

.card-content img {
    border: 5px solid #5B4430;
    border-radius: 25px 25px 0px 0px;
    width: 100%;
    height: 96%;
}

.flip-button {
    width: 120vh;
    border: none;   
    border-radius: 0px 0px 25px 25px;
    padding: 7px;
    font-size: 1.9rem;
    background-color: #ca63fa60;
    cursor: pointer;
}