.contact-main {
    display: flex;
    flex-direction: column;             
    align-items: center;
}

.contact-header {
    font-size: 2.5rem;
    color: #ca63fa;
    background-color: #e6fafc;
    border-radius: 20px; 
    padding: 20px 30px;
}

.contact-subheader {
    padding-left: 50px;
    font-size: 2rem;
    color: #7b54d5;
}

.contact-content {
    width: 100%;
    display: flex;
    justify-content: center;
}

.contact-link-container {

    display: flex;
    width: 80%;
    justify-content: space-around;
}

.contact-link {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px 10px;
    width: 30%;
}

.contact-text {
    padding-right: 50px;
    font-size: 1.75rem;
    color: #e6fafc;
}

.contact-image {
    width: 50%;
}

.contact-form {
    padding-left: 50px;
    font-size: 2rem;
    color: #7b54d5;
    margin-top: 20px;
    margin-bottom: 100px;
}