.footer {
  border-radius: 5px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #e6fafc;
  color: #272932;
  text-align: center;
}

.footer-copyright {
  font-size: 1rem;
  padding: 5px 0px;
}

.footer-button {
  border: solid 1px #272932;
  border-radius: 10px;
  background-color: #e6fafc;
  color: #272932;
  font-size: 1rem;
  cursor: pointer;
  padding: 5px 5px;
  margin-bottom: 5px;
  text-decoration: none;
}

.footer-button:hover {
  color: #7b54d5;
}

