.navbar-header {
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
}

.navbar {
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e6fafc;
  color: #272932;
}

.navbar-left {
  align-items: left;
  max-width: 60%;
  margin: 0px 50px;
}

.navbar-right {
  align-items: right;
  font-size: 1.5rem;
}

.navbar-link {
  color: #272932;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
}

.navbar-link:hover {
  color: #7b54d5;
}

.navbar-language {
  width: 10%;
  display:flex;
  margin-right: 50px;
}

.navbar-language-button {
  margin-left: 5px;
  cursor: pointer;
  border: none;
  background-color: #e6fafc;
}


.navbar-language-button img{
  width: 80%;
}