.portfolio-main {
    display: flex;
    flex-direction: column;             
    align-items: center;
}

.portfolio-header {
    font-size: 2.5rem;
    color: #0f7173;
    background-color: #e6fafc;
    border-radius: 20px; 
    padding: 20px 30px;
}

.portfolio-era {
    width: 100%;
    display: flex;
    flex-direction: column;             
    align-items: center;
}

.portfolio-era-header {
    font-size: 2rem;
    border-radius: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    color: #ca63fa;
    background-color:#e6fafc;
    margin-top: 20px;
}

.portfolio-era-image {
    padding-left: 5px;
    padding-top: 5px;
    width: 40%;
    border-radius: 20px;
}

.portfolio-article {
    width: 99%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding-left: 20px;
}

.portfolio-text {
    border-radius: 20px; 
    padding: 30px 50px;
    width: 59%;
    background-color: #7b54d5;
    text-align: justify;
}

.project-header {
    font-size: 1.75rem;
}

.project-text{
    font-size: 1.5rem;
}

.portfolio-image {
    width: 40%;
     
}

.project-image {
    border-radius: 20px;
    max-width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}